<% if current_member %>
<p class="member">
<%= current_member.user_id %>さん |
<%= link_to "ログアウト", :session,
      method: :delete, data: { confirm: "ログアウトしますか？" } %>
</p>

<div class="menubar">
<%= menu_link_to "部屋一覧", :rooms %>
&nbsp; | &nbsp; <%= menu_link_to "プラン一覧", :plans %>
&nbsp; | &nbsp; <%= menu_link_to "マイページ", :mypage_index %>
</div>
<% end %>