<h1>予約</h1>

<%= form_for @reservation, url: {action: 'confirm'} do |form| %>
  <table class="attr">
    <%= form.hidden_field :member_id, :value => current_member.id %>
    <%= form.hidden_field :room_id, :value => @room_id %>
    <tr>
      <th><%= form.label :guest_count %></th>
      <% guest_options = [1, 2, 3] %>
      <td><%= form.select :guest_count, guest_options %>人</td>
    </tr>
    <tr>
      <th><%= form.label :plan_name %></th>
      <td><%= form.select :plan_id, @options %></td>
    </tr>
    <tr>
      <th><%= form.label :stay_date %></th>
      <td>
        <%= form.date_select :start_date,
              start_year: Date.today.year, start_month: Date.today.month, start_day: Date.today.day, use_month_numbers: true %>〜
        <%= form.date_select :end_date,
              start_year: Date.today.year, start_month: Date.today.month, start_day: Date.today.day, use_month_numbers: true %>
      </td>
    </tr>
  </table>

  <p><%= form.submit "確認画面へ" %></p>
<% end %>

<%= link_to "トップへ", root_path %>