<h1>予約詳細</h1>
<table class="list">
  <tr>
    <th>部屋番号</th>
    <th>宿泊人数</th>
    <th>適用プラン</th>
    <th>合計金額</th>
    <th>チェックイン</th>
    <th>チェックアウト</th>
    <th>連泊指定</th>
  </tr>
  <tr>
    <td><%= @reservations.room_number %></td>
    <td><%= @reservations.guest_count %></td>
      <% if @reservations.plan.name == "ノープラン" %>
        <td>無し</td>
      <% else %>
        <td>
          <%= @reservations.plan.name %>
        </td>
      <% end %>
    <td><%= @reservations.sum_price %></td>
    <td><%= @reservations.start_date %></td>
    <td><%= @reservations.end_date %></td>
    <td>
      <% if @reservations.is_extend %>
        有り
      <% else %>
        無し
      <% end %>
    </td>

    <td>
      <%= link_to "削除", @reservation, method: :delete,
            data: { confirm: "本当に削除しますか?" } %>
    </td>
  </tr>
</table>