<h1>プラン詳細</h1>

<table class="list">
  <tr>
    <th>プラン名</th>
    <th>適用人数</th>
    <th>価格</th>
  </tr>
  <tr>
    <td><%= @plan.name %></td>
    <td><%= @plan.apply_count %></td>
    <td><%= @plan.price %></td>

    <td>
      <%= link_to "編集", [:edit, :admin, @plan] %> |
      <%= link_to "削除", [:admin, @plan], method: :delete,
            data: { confirm: "本当に削除しますか?" } %>
    </td>
  </tr>
</table>
