<h1>部屋詳細</h1>

<table class="list">
  <tr>
    <td>部屋番号</td>
    <td>部屋スタイル</td>
    <td>基本宿泊人数</td>
    <td>エクストラベッドの有無</td>
    <td>一人あたりの宿泊料金</td>
  </tr>
  <tr>
    <td><%= @room.room_number %></td>
    <td><%= @room.style_name %></td>
    <td><%= @room.expect_count %></td>
    <td>
      <% if @room.can_add_bed %>
        有り
      <% else %>
        無し
      <% end %>
    </td>
    <td><%= @room.person_price %></td>
  </tr>
  <tr>
    <td>適用できるプラン</td>
    <td>プラン価格</td>
    <td>適用宿泊人数</td>
  </tr>
  <tr>
    <% @plans.each do |plan| %>
      <% if plan.name != "ノープラン" %>
        <td>
          <%= plan.name %>
        </td>
        <td>
          <%= plan.price %>
        </td>
        <td>
          <%= plan.apply_count %>
        </td>
      <% end %>
    <% end %>
  </tr>
</table>

<p>基本宿泊人数より少ない人数で宿泊される場合は、宿泊料金を割増させていただきます。ご了承ください。</p>
<p>また、宿泊人数の都合でエクストラベッドを使用する場合は、価格を割引させていただきます。</p>

<%= link_to "この部屋を予約する" , controller: "reservations", action: "new", room_id: @room.id %>