<h1>部屋詳細</h1>

<table class="list">
  <tr>
    <th>部屋番号</th>
    <th>部屋スタイル</th>
    <th>基本宿泊人数</th>
    <th>エクストラベッドの有無</th>
    <th>1人あたりの宿泊料金(1泊分)</th>
  </tr>
  <tr>
    <td><%= @room.room_number %></td>
    <td><%= @room.style_name %></td>
    <td><%= @room.expect_count %></td>
    <td>
      <% if @room.can_add_bed? %>
        有り
      <% else %>
        無し
      <% end %>
    </td>
    <td><%= @room.person_price %></td>
  </tr>
  <tr>
    <th>適用できるプラン</th>
    <th>プラン価格</th>
    <th>適用宿泊人数</th>
  </tr>
  <tr>
    <% @plans.each do |plan| %>
      <% if plan.name != "ノープラン" %>
        <td>
          <%= plan.name %>
        </td>
        <td>
          <%= plan.price %>
        </td>
        <td>
          <%= plan.apply_count %>
        </td>
      <% end %>
    <% end %>
  </tr>
</table>

<% if @room.expect_count != 1 %>
  <p>基本宿泊人数より少ない人数で宿泊される場合は、基本宿泊人数との差１人分につき、宿泊料金を<%= (@room.surcharge_rate * 10 - 10).floor %>割増させていただきます。<br>
ご了承ください。</p>
<% end %>

<% if @room.can_add_bed? %>
  <p>宿泊人数の都合でエクストラベッドを使用する場合は、価格を<%= (10 - @room.discount_rate * 10).floor %>割引させていただきます。</p>
<% end %>

<%= link_to "この部屋を予約する" , controller: "reservations", action: "new" %>