<h1>登録確認</h1>

<%= form_for @member do |form| %>
  <table class="attr">
    <tr>
      <th><%= form.label :user_id %></th>
      <td><%= @member.user_id %></td>
      <%= form.hidden_field :user_id %>
    </tr>
    <tr>
      <th><%= form.label :name %></th>
      <td><%= @member.name %></td>
      <%= form.hidden_field :name %>
    </tr>
    <tr>
      <th><%= Member.human_attribute_name(:sex) %></th>
      <td>
        <% if @member.sex == 0 %>
          男
        <% else %>
          女
        <% end %>
      </td>
      <%= form.hidden_field :sex %>
    </tr>
    <tr>
      <th><%= form.label :birthday, for: "member_birthday_1i" %></th>
      <td><%= @member.birthday %></td>
      <%= form.hidden_field :birthday %>
    </tr>
    <tr>
      <th><%= form.label :email %></th>
      <td><%= @member.email %></td>
      <%= form.hidden_field :email %>
    </tr>
    <tr>
      <th><%= form.label :address %></th>
      <td><%= @member.address %></td>
      <%= form.hidden_field :address %>
    </tr>
    <tr>
      <th><%= form.label :tel %></th>
      <td><%= @member.tel %></td>
      <%= form.hidden_field :tel %>
    </tr>
    <tr>
      <th><%= form.label :password %></th>
      <td><%= @member.password %></td>
      <%= form.hidden_field :password %>
    </tr>
  </table>

  <p>この内容で登録しますか？</p>
  
  <p><%= form.submit "登録する" %></p>
<% end %>

<%= link_to "トップへ", root_path %>